<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="25600" /><!--10 MB in KB(10240) 25MB-->
<webServices>
        <protocols>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
        </protocols>
    </webServices>
  </system.web>
  <appSettings>
 

    <add key="ConnectionString" value="Data Source=43.240.67.192;Initial Catalog=dreamzvision_mnm;User ID=dreamzvision_mnm;Password=5Demx@60"/>
    <!--<add key="ConnectionString" value="Data Source=192.168.0.254;Initial Catalog=mnm;User ID=sa;Password=sa123"/>-->
    <add key="ConnTimeOut" value="180"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>